// -----------------------------------------------------------------------------
// This file contains styles for default posts
// -----------------------------------------------------------------------------

article {
  padding: 64px 0 0 0;
}

.news-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.hero-section.post-hero .hero-container {
  height: 480px;
  min-height: 100%;
}

.related-posts-container {
  position: relative;
  padding-top: 96px;
  z-index: 1;

  .related-posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
}

.read-more-container {
  text-align: center;
  padding: 32px 0 48px 0;
}

.blog-index-wrapper {
  padding-top: 64px;
}

.attachment-container video {
  width: 100vw;
  height: auto;
}


@media all and (max-width: map-get($breakpoints, tablet) - 1) {

  .filter-button-group {
    display: none;
    padding : 5px;
    width: 100%;
    margin: 0 32px 32px 32px;

    .flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .btn.btn-lg.filter-button {
      margin-bottom: 16px;
    }
  }

}

@media all and (max-width: map-get($breakpoints, mobile) - 1) {
  .related-posts-container .related-posts {
      margin: 0 16px;
  }
}
