@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize',
  'vendors/hamburgers';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/grid',
  'base/typography';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

/** Helpers Are's Used in this theme so am disabling
// 5. Tachyons helpers
@import
  'helpers/0-helpers',
  'helpers/box-sizing',
  'helpers/aspect-ratios',
  'helpers/images',
  'helpers/background-size',
  'helpers/background-position',
  'helpers/outlines',
  'helpers/borders',
  'helpers/border-colors',
  'helpers/border-radius',
  'helpers/border-style',
  'helpers/border-widths',
  'helpers/box-shadow',
  'helpers/code',
  'helpers/coordinates',
  'helpers/clears',
  'helpers/flexbox',
  'helpers/display',
  'helpers/floats',
  'helpers/font-family',
  'helpers/font-style',
  'helpers/font-weight',
  'helpers/forms',
  'helpers/heights',
  'helpers/letter-spacing',
  'helpers/line-height',
  'helpers/links',
  'helpers/lists',
  'helpers/max-widths',
  'helpers/widths',
  'helpers/overflow',
  'helpers/position',
  'helpers/opacity',
  'helpers/rotations',
  'helpers/skins',
  'helpers/skins-pseudo',
  'helpers/spacing',
  'helpers/negative-margins',
  'helpers/tables',
  'helpers/text-decoration',
  'helpers/text-align',
  'helpers/text-transform',
  'helpers/type-scale',
  'helpers/typography',
  'helpers/utilities',
  'helpers/visibility',
  'helpers/white-space',
  'helpers/vertical-align',
  'helpers/hovers',
  'helpers/z-index',
  'helpers/nested',
  'helpers/styles';
**/

// 5. Components
@import
  'components/button',
  'components/herosection',
  'components/post-grid',
  'components/social-icons';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/about',
  'pages/contact',
  'pages/page',
  'pages/post',
  'pages/work';

// 7. Themes
@import
  'themes/default';

// 8. Animations
@import
  'animation/animations';
