// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------

.wpcf7-form {
  .form-field-100 {
    width: 100%;
  }

  .cta-button {
    background-color: $white;
    color: $primary-color;
    border-color: $white;
    width: 100%;
    margin: 0;

    &:hover {
      background-color: $primary-color;
      color: $white;
      border-color: $white;
    }
  }

  .form-field-50 {
    width: 50%;
  }

  .form-field {
    input, textarea {
      width: 100%;
      padding: 16px 8px;
      font-size: 16px;
      margin: 8px auto;
      border-color: $white;
      border-style: solid;
    }
  }

  .ajax-loader {
    display: none;
  }
}
