// -----------------------------------------------------------------------------
// This file contains all styles related to the social icons component
// -----------------------------------------------------------------------------

/* Social Icons Section */

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;

  .social-icon {
      width: 32px;
      height: 32px;
      display: block;
      margin: 8px;
      opacity: 1;
      transition: opacity 350ms;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      i::before {
        font-size: 32px;
      }

      &:hover {
        opacity: 0.5;
        text-decoration: none;
      }
  }
}
